@font-face {
    font-family: "Dimis";
    src: url('./dimitri/DIMIS___.ttf')  format('truetype');
}
@font-face {
    font-family: "Dimitri";
    src: url('./dimitri/DIMITRI_.ttf')  format('truetype');
}
html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    color: #333;
}
.world-name, .room-name {
    text-align: center;
}
.world-name {
    font-family: "Dimis";
    font-size: 4em;
}
.room-name {
    font-family: "Dimitri";
    font-size: 2em;
}
.page-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-container {
    width: 300px;
    border-left: 1px dashed #DDD;
    border-top: 1px dashed #DDD;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    position: relative;
    height: 49px;
    width: 49px;
    border-right: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}
.object {
    height: 49px;
    width: 49px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.textbox-area {
    margin-top: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.textbox-container {
    background: #333;
    height: 100px;
    width: 500px;
}
.textbox {
    height: 70px; /* 100 - 5 * 2 - 10 */
    width: 470px; /* 400 - 5 * 2 - 10 */
    border: 5px solid white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    color: white;
    font-family: "courier new";
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
}
.textbox::after {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #3dfafb;
    text-shadow: 2px 2px 2px #3dfafb78;
}
.textbox.enter::after {
    content: "Enter ↵";
}
.textbox.last::after {
    content: "☐";
}
.highlight {
    background-color: rgba(255, 180, 67, 0.5);
}
